<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.story">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".Guide">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Load"/>
        <activity android:name=".Register"/>
        <activity android:name=".NewStory"/>
        <activity android:name=".Left_Page.MyStory"/>
        <activity android:name=".Left_Page.userinfo.User_Info"/>
        <activity android:name=".Left_Page.userinfo.Modification_name"/>
        <activity android:name=".Left_Page.userinfo.Modification_sex" />
        <activity android:name=".Left_Page.userinfo.Modification_mail"/>
        <activity android:name=".Left_Page.userinfo.Modification_birth"/>
        <activity android:name=".Left_Page.userinfo.Modification_password"/>
        <activity android:name=".Left_Page.SystemSetting"/>
        <activity android:name=".ReadStory"/>
    </application>

</manifest>